// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// -----------------------------------------------

// ALL
.container {
  text-align: center;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 400px;
  margin: 16px 0;
}

// Restaurant list (index)
.restaurant-card {
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  width: 400px;
  padding: 12px;
  margin: 12px auto;
}

// Restaurant page
.restaurant-reviews {
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  width: 400px;
  padding: 12px;
  margin: 12px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .review {
    border: 1px solid grey;
    border-radius: 16px;
    width: 300px;
    padding: 8px;
    margin: 8px 0;
  }
}
